{% for block in section.blocks %}
  <div {{ block.shopify_attributes }}>
    <div class="robin-pro {% if block.settings.width == 'page' %}page-width{% endif %}" id="{{ block.settings.gallery_id }}"></div>
  </div>
{% endfor %}

{% schema %}
  {
    "name": "Robin PRO Image Gallery",
    "blocks": [
      {
        "type": "gallery",
        "name": "Gallery",
        "settings": [
          {
            "label": "Gallery",
            "type": "select",
            "id": "gallery_id",
            "options": [
{
  "value": "cd881ace-3247-4176-b87f-377dbde4177a",
  "label": "Clio(G8016)"
},
{
  "value": "4b6afa4f-7657-4810-86b7-7e8023752d77",
  "label": "Chronos(G8025)"
},
{
  "value": "6f6bdbf1-c0e7-47d7-9921-f0fee993d3dd",
  "label": "Eurybia(G8040)"
},
{
  "value": "1652cf04-436e-4ff1-a208-fff536e5e675",
  "label": "Techna Value"
},
{
  "value": "0b5f16a2-eef1-4e29-881f-54498f8aac3a",
  "label": "Techna Enhanced"
},
{
  "value": "bd90e2f4-f071-4819-a40f-2205c7cadfe1",
  "label": "Techna Galaxy"
},
{
  "value": "8465b889-c211-470e-b32e-38c7c746adc6",
  "label": "Customer Gallery"
}
            ]
          },
          {
            "type": "radio",
            "id": "width",
            "label": "Width",
            "options": [
              {
                "value": "page",
                "label": "Page width"
              },
              {
                "value": "full",
                "label": "Full width"
              }
            ],
            "default": "page"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Robin PRO Image Gallery",
        "category": "Robin PRO Image Gallery App",
        "settings": {}
      }
    ]
  }
{% endschema %}