{% for block in section.blocks %}
  <div {{ block.shopify_attributes }}>
    <div class="robin-pro {% if block.settings.width == 'page' %}page-width{% endif %}" id="{{ block.settings.gallery_id }}"></div>
  </div>
{% endfor %}

{% schema %}
  {
    "name": "Robin PRO Image Gallery",
    "blocks": [
      {
        "type": "gallery",
        "name": "Gallery",
        "settings": [
          {
            "label": "Gallery",
            "type": "select",
            "id": "gallery_id",
            "options": [
{
  "value": "d18d8dde-b86c-4a67-89f5-a78eb94a4dd4",
  "label": "Ellison(F3001)"
},
{
  "value": "ca05a0f7-5490-49c1-a3c8-f47a50739d60",
  "label": "Celeste(F3017)"
},
{
  "value": "4eb9cac3-af48-4673-8773-5b29fa5b30a2",
  "label": "Leia(G8015)"
},
{
  "value": "87fa7887-d294-4039-83cb-ec9a87682f4f",
  "label": "Hearthstone(G8017)"
},
{
  "value": "869efdeb-08f5-4f39-b19f-c225428c9e14",
  "label": "Halo(G8018)"
},
{
  "value": "b7b0eae8-ccbd-4c9e-b7ef-7dc971581ea7",
  "label": "Kaia(G8020)"
},
{
  "value": "7d313243-d02c-491a-8196-700a231d065d",
  "label": "Hesperus(G8021)"
},
{
  "value": "ecf86652-5d1a-4141-82f8-db29613e14d6",
  "label": "Carys(G8035)"
},
{
  "value": "d6c8e58c-c0bb-4540-afdd-0bd8267b4f52",
  "label": "Luminous(G8039)"
},
{
  "value": "244daa64-7b8d-443a-9435-278928e9dc00",
  "label": "Eurybia(G8040)"
},
{
  "value": "41819b23-e58b-4c59-af0b-48e7135b4549",
  "label": "Lumina(G8042)"
},
{
  "value": "2e579b69-9301-4c67-bfe1-3bdcbb4e67ac",
  "label": "Euryale(G8045)"
},
{
  "value": "ee856423-d423-458e-a9f5-3f20a7db4618",
  "label": "Adira(G8046)"
},
{
  "value": "30a2ab5f-a4a5-4894-a89b-b7f39106ecff",
  "label": "Euphrosyne(G8048)"
},
{
  "value": "073fa755-a5aa-464b-a268-1bffb6fc8770",
  "label": "Akte(G8058)"
},
{
  "value": "58a873f9-2fa7-4b82-9b42-89185d983f59",
  "label": "Apex(G8064)"
},
{
  "value": "b46faf67-be99-48db-93b8-7f7a20f7d8b3",
  "label": "Eunomia(JV002)"
},
{
  "value": "c41ec1cc-10f9-4ef5-b034-3a601ac1cc22",
  "label": "Highland(K5007)"
},
{
  "value": "a408e374-3b04-4ffa-9f41-2df5d6fbd1ba",
  "label": "Auxi(L6014)"
},
{
  "value": "81f89be4-9668-442e-b1fc-1a7120e548c4",
  "label": "Hebe(L6015)"
},
{
  "value": "1ef2fb86-fbfc-4cea-82b5-fa9e468b5f05",
  "label": "Artemis(L6026)"
},
{
  "value": "7c01b285-45ed-4cfa-ad4b-fed36584e72f",
  "label": "Andromeda(LZ2230)"
},
{
  "value": "b8cd5436-5113-4269-90e9-737699cd1b3e",
  "label": "Apollo(6826)"
},
{
  "value": "95e71445-d14d-45ee-af82-5206c67f5839",
  "label": "Europa(8047)"
},
{
  "value": "fedb07e0-4b4e-499b-aa95-04e2996d6628",
  "label": "Cerberus(G8031)"
},
{
  "value": "5889d53d-9f10-4a87-80eb-59400ec59c25",
  "label": "Eurydice(A1205)"
},
{
  "value": "cd881ace-3247-4176-b87f-377dbde4177a",
  "label": "Clio(G8016)"
},
{
  "value": "4b6afa4f-7657-4810-86b7-7e8023752d77",
  "label": "Chronos(G8025)"
},
{
  "value": "1652cf04-436e-4ff1-a208-fff536e5e675",
  "label": "Techna Value"
},
{
  "value": "0b5f16a2-eef1-4e29-881f-54498f8aac3a",
  "label": "Techna Enhanced"
},
{
  "value": "bd90e2f4-f071-4819-a40f-2205c7cadfe1",
  "label": "Techna Galaxy"
},
{
  "value": "8465b889-c211-470e-b32e-38c7c746adc6",
  "label": "Customer Gallery"
}
            ]
          },
          {
            "type": "radio",
            "id": "width",
            "label": "Width",
            "options": [
              {
                "value": "page",
                "label": "Page width"
              },
              {
                "value": "full",
                "label": "Full width"
              }
            ],
            "default": "page"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Robin PRO Image Gallery",
        "category": "Robin PRO Image Gallery App",
        "settings": {}
      }
    ]
  }
{% endschema %}